<div
  appSelectionGroup
  [selectionGroupMultiple]="multiple()"
  [(selectionGroupIds)]="selectedIds"
  #group="selectionGroup"
  class="chip-group__container"
>
  <app-expandable-list
    [collapsible]="collapsible()"
    [(expanded)]="expanded"
    [gap]="gap()"
  >
    @for (chip of chips(); track chip.id) {
      <app-chip
        appExpandableItem
        [checked]="group.isSelected(chip.id)"
        (checkedChange)="group.toggle(chip.id, $event)"
        [label]="chip.label"
        [icon]="chip.icon"
        [disabled]="!!chip.disabled"
        [variant]="chipsVariant()"
      />
    }
  </app-expandable-list>
</div>
