<div class="modal">
  <div class="modal__header">
    <h3>{{ config.title }}</h3>

    <button class="modal__closebutton" (click)="onClickCross()">
      <app-icon name="cross-24" class="modal__closebutton-icon" />
    </button>
  </div>

  <app-divider />

  <div class="modal__content">
    <ng-content></ng-content>
  </div>

  @if (config.actions; as actions) {
    <app-divider />

    <div
      class="modal__footer"
      [class]="`justify-${config.actionsJustify || 'center'}`"
    >
      @for (action of actions; track action.text) {
        <app-button
          [variant]="action.variant"
          [text]="action.text"
          [disabled]="action.disabled"
          (click)="action.onClick?.()"
        ></app-button>
      }
    </div>
  }
</div>
