:host.divider {
  --divider-margin: 0 24px;
  --divider-thickness: 1px;

  display: block;
  border: none;
  margin: var(--divider-margin);

  &--horizontal {
    width: 100%;
    height: var(--divider-thickness);
  }

  &--vertical {
    height: 100%;
    width: var(--divider-thickness);
  }

  &--primary {
    background-color: var(--token-divisore);
  }

  &--secondary {
    background-color: var(--token-fessura);
  }
}
