<app-filter-catalog
  [chips]="[
    { name: 'collection', label: 'Избранные', value: 'favorites' },
    { name: 'meal_type', label: 'Завтрак', value: 'breakfast' },
    { name: 'meal_type', label: 'Обед', value: 'lunch' },
    { name: 'meal_type', label: 'Ужин', value: 'dinner' },
    { name: 'cooking_method', label: 'На сковороде', value: 'pan' },
    { name: 'cooking_method', label: 'В духовке', value: 'oven' },
    { name: 'dish_category', label: 'Салат', value: 'salad' },
    { name: 'dish_category', label: 'Второе блюдо', value: 'main' },
    { name: 'dish_category', label: 'Суп', value: 'soup' },
    { name: 'cooking_time', label: '1 час', value: '1' },
    { name: 'cooking_time', label: '2 часа', value: '2' }
  ]"
/>
