:host {
  width: 100%;
}

.scrollable-chips {
  position: relative;
  overflow: visible;

  width: 100%;

  &__track {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    display: flex;
    flex-wrap: nowrap;
    gap: 8px;

    padding: 0 16px;
  }
}

.scrollable-chips__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  margin: auto;

  background-color: var(--color-white);
  border: 1px solid var(--color-solitario);
  border-radius: 50%;

  cursor: pointer;

  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &.--left {
    left: -12px;
  }

  &.--right {
    right: -12px;
  }

  &-icon {
    color: var(--color-gosblue);
  }
}
