.chip {
  &__container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    width: auto;
    height: 40px;

    padding: 0 12px;

    border: none;

    cursor: pointer;
    transition:
      background-color ease 0.2s,
      box-shadow ease 0.2s;

    &.--variant-inside {
      background-color: var(--color-azzurro-alice);
      border-radius: 8px;

      &:hover {
        background-color: var(--color-solitario);
      }

      &::after {
        border-radius: 8px;
      }
    }

    &.--variant-outside {
      background-color: var(--color-white);
      border-radius: 12px;

      &::after {
        border-radius: 12px;
      }
    }

    &.--only-icon {
      width: 40px;
      padding: 0;
    }

    &.--active {
      &::after {
        opacity: 1;
      }
    }

    &.--disabled {
      background-color: var(--color-pervinca);

      &::after {
        box-shadow: inset 0 0 0 var(--border-width) var(--color-telegrey-scuro);
      }

      .chip__label,
      .chip__icon {
        color: var(--color-telegrey-scuro);
      }
    }

    &:disabled {
      pointer-events: none;
      cursor: default;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: transparent;
      box-shadow: inset 0 0 0 var(--border-width) var(--color-gosblue);

      opacity: 0;
      transition:
        opacity 0.2s ease,
        box-shadow 0.2s ease;
    }
  }

  &__label,
  &__icon {
    color: var(--color-gosblue);
  }

  &__label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
  }
}
