@use './assets/styles/fonts';
@use 'ngx-scrollbar' as scrollbar;
@use '@angular/material' as mat;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', serif;
}

body {
  background-color: var(--color-fondazione);
  color: var(--color-summer-night);
}

:root {
  --color-summer-night: #0b1f33;
  --color-white: #ffffff;
  --color-fondazione: #fafcff;
  --color-fessura: #f5f7fa;
  --color-ciottoli: #e1e1e1;
  --color-azzurro-alice: #edf2fe;
  --color-pervinca: #e5eaf5;
  --color-solitario: #e4ecfd;
  --color-caso: #d2dffb;
  --color-cartone: #dbe7ff;
  --color-calcestruzzo: #d1d5df;
  --color-divisore: #99b1e6;
  --color-blue-selvaggio: #9dacce;
  --color-telegrey-scuro: #86909c;
  --color-interlineare: #66727f;
  --color-blue-digitale: #4d83fa;
  --color-gosblue: #0d4cd3;
  --color-pulsante-premuto: #0b40b3;
  --color-vertigini-blue: #1d5deb;
  --color-agata-fredda: #9b3be5;
  --color-gosred: #ee3f58;
  --color-tela-rosa: #e11432;
  --color-petalo-rosa: #fcd9de;
  --color-foglia-di-acero: #ff8a00;

  --color-bg-blured: #0b1f3266;

  --shadow-default: 0 1px 4px 0 #e3ebfc, 0 4px 16px 0 #e6ebf5cc;
  --shadow-default-hover:
    0 1px 8px 0 rgba(200, 214, 240, 0.8), 0 4px 16px 0 rgba(181, 201, 232, 0.5);

  --shadow-modal: 0 8px 24px 0 rgba(11, 31, 50, 0.2);
  --shadow-popup: 0 4px 24px 0 #0b1f3233;

  --radius-default: 12px;
  --radius-mobile: 8px;

  @include scrollbar.ng-scrollbar-overrides(
    (
      track-color: transparent,
      thumb-color: var(--color-calcestruzzo),
      track-thickness: 6px,
      thumb-thickness: 6px,
      track-shape: 3px,
      thumb-min-size: 16px,
      container-offset: 2px
    )
  );
}

h1,
.title-h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}
h2,
.title-h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}
h3,
.title-h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
h4,
.title-h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
h5,
.title-h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
h6,
.title-h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

p,
.text-default {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.text-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.text-large {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.text-help {
  color: var(--color-telegrey-scuro);
}
.text-error {
  color: var(--color-gosred);
}

a,
.link-plain {
  color: var(--color-gosblue);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--color-vertigini-blue);
  }

  &:active {
    color: var(--color-pulsante-premuto);
  }

  svg,
  p {
    color: inherit;
  }
}

b,
strong,
.bold {
  font-weight: 700;
}

.button-reset {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  max-width: 1280px;
  padding: 0 32px;
  margin: 0 auto;
}

@media (max-width: 720px) {
  .container {
    padding: 0 16px;
    margin: 0;
  }
}

.full-width {
  width: 100%;
}

.shadow-block {
  background-color: var(--color-white);
  box-shadow: var(--shadow-default);
  border-radius: var(--radius-default);

  &.with-hover {
    &:hover {
      box-shadow: var(--shadow-default-hover);
    }
  }
}

.overlay-panel-reset {
  @include mat.dialog-overrides(
    (
      container-color: transparent,
      container-elevation-shadow: none,
      container-shape: 0,
      container-min-width: 0,
      container-max-width: none,
      container-small-max-width: none,
      content-padding: 0,
      actions-padding: 0,
      headline-padding: 0
    )
  );

  .mat-mdc-dialog-container {
    padding: 0;
  }

  .mat-mdc-dialog-surface {
    overflow: visible;
  }
}

.overlay-backdrop-dark {
  background-color: var(--color-bg-blured);
  backdrop-filter: blur(2px);
  transition:
    background-color 0.2s,
    opacity 0.2s;
}
