$color-summer-night: #0b1f33;

$color-white: #ffffff;

$color-fondazione: #fafcff;
$color-fessura: #f5f7fa;
$color-azzurro-alice: #edf2fe;
$color-pervinca: #e5eaf5;
$color-solitario: #e4ecfd;

$color-ciottoli: #e1e1e1;
$color-calcestruzzo: #d1d5df;
$color-caso: #d2dffb;
$color-divisore: #99b1e6;
$color-blue-selvaggio: #9dacce;
$color-telegrey-scuro: #86909c;
$color-interlineare: #66727f;

$color-blue-digitale: #4d83fa;
$color-gosblue: #0d4cd3;
$color-pulsante-premuto: #0b40b3;
$color-vertigini-blue: #1d5deb;

$color-gosred: #ee3f58;
$color-tela-rosa: #e11432;
$color-petalo-rosa: #fcd9de;

$color-foglia-di-acero: #ff8a00;